<html>

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container h-center margin-top-30">
    <div class="box b2-3 ground h-center">
      <div class="box b1 lucida-grande bold center padding-10 margin-top-20 underline">Tem nada aqui</div>
      <div class="box b1 lucida-grande em09 center padding-10"><a class="box b1" href="/">Retornar para página
          principal</a></div>
    </div>
  </div>
</body>

</html>