<section class="container" style="background-color: #f5f0e6">
  <div class="box b1 container">
    <img src="/images/logo/favicon.png"
      class="mobile-box max-height-50 radius-5 margin-top-5 margin-bottom-5 padding-left-5 pointer"
      onclick="window.location.href='/'" alt="Catálogo digital">

    <div class="mobile-box em20 bold lucida-grande padding-3 center noselect pointer"></div>
    <div class=" mobile-box b5 container">
      <div class="mobile-box container right padding-5">
        <!-- <div class="mobile-box lucida-grande rem10 text-shadow-nn-lg bold radius-5 padding-10 noselect pointer"
          style="color:#001b34;" onclick="window.location.href = '/user/login'">Acesse</div> -->
      </div>
    </div>
  </div>
</section>